<div class="main-header">
   <div class="group">開いてるチャット名</div>
   <div class="deleteroom-btn">
   <a href="#">チャットを終了する</a>
   </div>
</div>
<div class="messages">
   <div class="message">
      <div class="user-date">
         <div class="name">ユーザー名</div>
         <div class="time">2020/01/01(Mon) 00:00:00</div>
      </div>
      <div class="text">おは</div>
   </div>

   <div class="message">
      <div class="user-date">
         <div class="name">ゆーざーめい</div>
         <div class="time">2020/01/01(Mon) 00:00:00</div>
      </div>
      <div class="text">ども</div>
   </div>
</div>

<div class="form">
   <div class="form-input">
      <input class="text-form", type="text", placeholder="type a message">
      <label class="form-image">
         <span class="image-file">画像</span>
         <input type="file" class="hidden">
      </label>
   </div>
   <input class="send", type="submit", value="送信">
</div>