   <div class="message">
      <div class="user-date">
         <div class="name">
            <%= message.user.name %>
         </div>
         <div class="time">
            <%= message.created_at %>
         </div>
      </div>
      <div class="text">
         <%= message.content %>
      </div>
   </div>